<h1>About Me</h1>




<style>

    #color_me_in {
        background-color: <%= @color %>;
        color: white;
        width: 250px;
        height: 250px;
    }

</style>

<div id="color_me_in">
    <p>
        <%= @color.upcase %> BOX ACTIVATED!
    </p>
</div>